VITE_PROFILE_SERVICE=http://localhost:5001
VITE_MATCH_SERVICE=http://localhost:5002
VITE_AVAILABILITY_SERVICE=http://localhost:5003
VITE_BOOKING_SERVICE=http://localhost:5004
VITE_PAYMENT_SERVICE=http://localhost:8080
VITE_NOTIFICATION_SERVICE=http://localhost:5007
VITE_BOOKING_PROCESS_SERVICE=https://outsystem-proxy-production.up.railway.app/
VITE_REVIEW_SERVICE=https://personal-m9frao4j.outsystemscloud.com/ReviewService/rest/ReviewAPI
